<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- Bootstrap 3 -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overlock|Port+Lligat+Sans|Share|Titillium+Web|Sansita">
    <style>
        html {
            width: 100%;
        }
        body {
            width: 832px;
            margin: 20px auto;
            background-color: #f9f9f9;
        }
        /* Global Font Settings */
        body {
            font-family: Overlook, 'Titillium Web', sans-serif;
            font-size: 18px;
        }
        body p {
            font-size: .9em;
        }
        .btn {
            font-family: Sansita, Port Lligat Sans, Helvetica, sans-serif;
            letter-spacing: .055em;
        }
        .btn.glyphicon {
            font-family: 'Glyphicons Halflings';
            letter-spacing: normal;
        }
        hr.separator {
            background-color: #ccc;
            height: 1px;
            width: 100%;
            margin: 5px auto 20px;
        }
        .flash-notice .alert {
            margin-top: 20px;
        }
        pre.article {
            white-space: pre-line;
            font-size: .9em;
        }
    </style>
    <!-- Latest compiled and minified JavaScript -->
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
{% block app_message %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>You are logged in.</p>
    {% endif %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flash_message }}
            </div>
        </div>
    {% endfor %}
{% endblock app_message %}
{% block body %}Hallo!!!{% endblock %}
</body>
</html>