{% extends 'base.html.twig' %}

{% block body %}
    <h1>Login</h1>
    <form action="{{ path('admin_login_check') }}" method="post">
        Login
        <input type="text" name="_username" value="{{ last_username }}" />
        <input type="password" name="_password" value="" />
        <input type="submit" />
        <br>
        {{ error }}
    </form>
{% endblock %}