{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <h1>{{ page.title }}</h1>
    <p>By {{ page.author }}, published on {{ page.publishedAt|date('m/d/Y') }}</p>
    <p><a href="{{ path('page_list') }}" class="btn btn-primary">Back to List</a></p>
    <hr/>
    {% if is_granted('ROLE_ADMIN') %}
        {{ form(form) }}
        <hr/>
    {% endif %}
    <pre class="article">{{ page.content }}</pre>
    <hr/>
    <p><a href="{{ path('page_list') }}" class="btn btn-primary">Back to List</a></p>
{% endblock %}