{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Pages
        {% if is_granted('ROLE_ADMIN') %}
            <a type="button" class="btn btn-primary" href="{{ path('page_add') }}">Add</a>
        {% endif %}
    </h1>
    <ul>
    {% for page in pages %}
        <li>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('page_update', { id: page.id }) }}">
        {% else %}
            <a href="{{ path('page_by_slug', { slug: page.slug }) }}">
        {% endif %}
                 <span style="font-style: italic;">{{ page.title }}</span>
                by {{ page.author }}
                on {{ page.publishedAt|date('m/d/Y H:i:s') }}
            </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('page_remove', { id: page.id }) }}" class="btn btn-danger btn-xs pull-right" onclick="return confirm('Remove page?')">
                Remove
            </a>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}