{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ page.title }}</h1>
    <p>By {{ page.author }}, published on {{ page.publishedAt|date('m/d/Y') }}</p>
    <p><a href="{{ path('page_list') }}" class="btn btn-primary">Back to List</a></p>
    <hr/>
    <pre class="article">{{ page.content }}</pre>
    <hr/>
    <p><a href="{{ path('page_list') }}" class="btn btn-primary">Back to List</a></p>
{% endblock %}