{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Create New Entry</h1>
    <p><a href="{{ path('page_list') }}" class="btn btn-primary">Back to List</a></p>
    <hr/>
    {{ form(form) }}
    <hr/>
    <p><a href="{{ path('page_list') }}" class="btn btn-primary">Back to List</a></p>
{% endblock %}